version: 2
jobs:
  build:
    parallelism: 1
    working_directory: ~/minitest
    docker:
      - image: circleci/ruby:2.4-node
        environment:
          BUNDLE_PATH: vendor/bundle
          RAILS_ENV: test
      # - image: selenium/hub
      #   ports:
      #     - "4444:4444"
      #   container_name: hub
      # - image: selenium/standalone-chrome
      #   environment:
      #   - HUB_PORT_4444_TCP_ADDR=hub
      #   - HUB_PORT_4444_TCP_PORT=4444
      
    steps:
      - checkout
      
      - run:
          name: Install phantomjs
          command: |
            cd /usr/local/share
            sudo wget https://bitbucket.org/ariya/phantomjs/downloads/phantomjs-2.1.1-linux-x86_64.tar.bz2 
            sudo tar xjf phantomjs-2.1.1-linux-x86_64.tar.bz2 
            sudo ln -s /usr/local/share/phantomjs-2.1.1-linux-x86_64/bin/phantomjs /usr/local/share/phantomjs 
            sudo ln -s /usr/local/share/phantomjs-2.1.1-linux-x86_64/bin/phantomjs /usr/local/bin/phantomjs 
            sudo ln -s /usr/local/share/phantomjs-2.1.1-linux-x86_64/bin/phantomjs /usr/bin/phantomjs

      # Restore bundle cache
      - type: cache-restore
        name: Restore bundle cache
        key: minitest-bundle-{{ checksum "Gemfile.lock" }}

      # Bundle install dependencies
      # Ruby 2.4.2: failing after latest update
      # issue: https://discuss.circleci.com/t/ruby-2-4-2-failing-after-latest-update/17855/2
      # If the issue fixed, please revert this commit
      - run:
          name: Bundle Install
          command: bundle install --path vendor/bundle

      # Store bundle cache
      - type: cache-save
        name: Store bundle cache
        key: minitest-bundle-{{ checksum "Gemfile.lock" }}
        paths:
          - vendor/bundle

      # Database setup
      - run: rails db:create db:migrate

      - run:
          name: Assets compile
          command: rails assets:precompile

      # Run minitest
      # - type: shell
      #   command: bundle exec rake test

      # Run minitest system test
      - type: shell
        command: bundle exec rake test:system

